<div class="login-container">
  <h3>Login</h3>
  <%= form_tag(sessions_path, method: 'post') do %>
    <div class="login-username">
      <%= label_tag :username, nil, :class => 'session-label' %>
      <%= text_field_tag :username %>
    </div>
    <div class="login-password">
      <%= label_tag :password, nil, :class => 'session-label' %>
      <%= password_field_tag :password %>
    </div>
    <input type='submit' class='btn' value='Login'>
    <%= link_to "Need to register?", new_user_path %>
  <% end %>
</div>
