<table class="table table-striped" id="student-table">
  <tr>
    <th id="student-last-name">
      <%= sort_link(@search, :last_name ,'Name') %>
    </th>
    <th id="student-grade">
      <%= sort_link(@search, :grade ,'Grade') %>
    </th>
    <th id="student-gpa">
      <%= sort_link(@search, :gpa ,'GPA') %>
    </th>
    <th id="student-detentions">
      <%= sort_link(@search, :detentions ,'Detentions') %>
    </th>
    <th id="student-gender">
      Gender
    </th>
    <th id="student-teacher">
      <%= sort_link(@search, 'teacher_last_name' , 'Current Teacher') %>
    </th>
  </tr>
  <% @students.each do |student| %>
  <tr class="student-row" id="<%= student.id %>">
    <td class="student-name">
      <%= link_to(student) do %>
        <%= student.first_name %> <span class="student-last-name"><%= student.last_name %></span>
      <% end %>
    </td>
    <td class="student-grade">
      <%= student.grade %>
    </td>
    <td class="student-gpa">
      <%= student.gpa %>
    </td>
    <td class="student-detentions">
      <%= student.detentions %>
    </td>
    <td class="student-gender">
      <%= student.gender %>
    </td>
    <td class="student-teacher">
      <%= link_to(student.teacher) do %>
        <%= student.teacher.full_name %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<p><%= link_to "Export data as CSV", students_path(format: 'csv') %></p>
<p><%= link_to "Export data as Excel", students_path(format: 'xlsx') %></p>
