
<h2> Listing Page for: <%= @student.first_name %> <%= @student.last_name %> </h2>
<p> Grade: <%= @student.grade %> </p>
<p> GPA: <%= @student.gpa %> </p>
<p> Detentions: <%= @student.detentions %> </p>
<p> Gender: <%= @student.gender %> </p>
<p> Teacher: <%= @student.teacher.full_name %> </p>
<h3> Other info: </h3>
<p> Favorite snack food: <%= @student.snack_food %> </p>
<p> T-shirt size: <%= @student.shirt_size %> </p>

<%= form_for @student, :method => :put do |f| %>
	<%= f.submit "Add Student to Your Group", {class: 'btn-success'} %>
<% end %>

