<div class='register form-container col-md-4'>

  <h3>Join the KISS Army</h3>

  <%= render 'sessions/errors' if @errors %>

  <%= form_for @user do |form| %>
    <div class='input-container username'>
      <%= label_tag :username, nil, :class => 'session-label' %>
      <%= form.text_field :username, :required => true, :class => 'form-control' %>
    </div>
    <div class='input-container first_name'>
      <%= label_tag :first_name, nil, :class => 'session-label' %>
      <%= form.text_field :first_name, :class => 'form-control' %>
    </div>
    <div class='input-container last_name'>
      <%= label_tag :last_name, nil, :class => 'session-label' %>
      <%= form.text_field :last_name, :class => 'form-control' %>
    </div>
    <div class='register-input photo'>
      <%= label_tag :photo, nil, :class => 'session-label' %>
      <%= form.file_field :photo %>
    </div>
    <div class='input-container password'>
      <%= label_tag :password, nil, :class => 'session-label' %>
      <%= form.password_field :password, :required => true, :class => 'form-control' %>
    </div>
    <div class='input-container confirm-password'>
      <%= label_tag :password_confirmation, nil, :class => 'session-label' %>
      <%= form.password_field :password_confirmation, :required => true, :class => 'form-control' %>
    </div>
    <input type="submit" value='Register' class='btn btn-primary'>
    <%= link_to "Already registered?", new_session_path %>
  <% end %>


</div>
