<div class="user-info">
  <img class="user-photo" src="<%= @user.photo %>" ></img>
  <h2><%= @user.full_name %></h2>
</div>

<table class="table table-striped" id="student-table">
  <tr>
    <th id="student-last-name" class="name-sort">
      <%= sort_link(@search, :last_name ,'Name') %>
    </th>
    <th id="student-grade" class="number-sort">
      <%= sort_link(@search, :grade ,'Grade') %>
    </th>
    <th id="student-gpa" class="number-sort">
      <%= sort_link(@search, :gpa ,'GPA') %>
    </th>
    <th id="student-detentions" class="number-sort">
      <%= sort_link(@search, :detentions ,'Detentions') %>
    </th>
    <th id="student-gender">
      Gender
    </th>
  </tr>
  <% @students.each do |student| %>
  <tr class="student-row" id="<%= student.id %>">
    <td class="student-name">
      <%= link_to(student) do %>
        <%= student.first_name %> <span class="student-last-name"><%= student.last_name %></span>
      <% end %>
    </td>
    <td class="student-grade">
      <%= student.grade %>
    </td>
    <td class="student-gpa">
      <%= student.gpa %>
    </td>
    <td class="student-detentions">
      <%= student.detentions %>
    </td>
    <td class="student-gender">
      <%= student.gender %>
    </td>
  </tr>
  <% end %>
</table>
