<!DOCTYPE html>
<html>
  <head>
    <title>EducatorProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <h1><%= link_to "Rock Rock Rock Rock Rock 'n Roll Code School", root_path, id: "logo" %></h1>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li><%= link_to "Students",   students_path %></li>
              <li><%= link_to "Teachers",   users_path %></li>
              <li><%= link_to "Your Account", current_user %></li>
              <li><%= link_to "Log out", session_path(current_user.id), :method => 'delete' %></li>

              <% else %>
              <li><%= link_to "Log in", new_session_path %></li>
              <li><%= link_to "Register", new_user_path %></li>

              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <div class="container">
        <%= yield %>
      </div>

    </body>
</html>
