<!DOCTYPE html>
<html>
  <head>
    <title>EducatorProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "School Name", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li><%= link_to "Students",   '/students/' %></li>
              <li><%= link_to "Teachers",   '/users/' %></li>
              <li><%= link_to "Your Account", current_user %></li>
              <li><%= link_to "Log out", session_path(current_user.id), :method => 'delete' %></li>

              <% else %>
              <li><%= link_to "Log in", '#' %></li>

              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <div class="container">
        <%= yield %>
      </div>

    </body>
</html>
